name: Check

on: [push, pull_request]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Setup venv
        run: uv sync --locked

      - name: Format
        run: uv run ruff format --check

      - name: Lint
        run: uv run ruff check

      - name: Typecheck
        run: uv run ty check
